html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6e6e6e;
}

header {
    padding: 1em;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#info, #buttons {
    width: 540px;
    padding: 1em;
    margin: 1em auto;
    background-color: lightgray;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
}

#you-info, #comp-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: .5em;
}

#comp-info {
    align-items: flex-end;
}

#you-img, #comp-img {
    width: 247px;
    height: 247px;
    border: .25em black solid;
    border-radius: .75em;
    background-color: aliceblue;
}

.button {
    width: 160px;
    height: 160px;
    border: .25em black solid;
    border-radius: .75em;
    background-color: aliceblue;
}

.button:hover {
    background-color: darkgrey;
    box-shadow: 0px 0px 40px 20px #0ff;
}

.button:active {
    background-color: white;
    box-shadow: 0px 0px 40px 20px white;
}
